.tea-member{
  #cart_list { display:none;z-index: 999;  position: fixed; right: 0px; top: 65px; width: 429px; min-height: 250px; height: auto; background: #29292b; line-height: normal; border-radius: 3px; }
  #cart_list ul { margin-top: 32px; }
  #cart_list ul li { height: 80px;    margin-bottom: 10px; }
  #cart_list ul li img { float: left; margin-left: 35px; }
  #cart_list .left { float: left; margin: 10px 0px 10px 10px;}
  #cart_list .left .name { color: #c4a57d; font-size: 18px; }
  #cart_list .left .info { color: #916f53; font-size: 14px; }
  #cart_list .right { float: right; border: 1px solid #916f53; padding: 5px 30px; color: #916f53; margin: 20px 30px 0px 0px; cursor: pointer; text-decoration: none;}
  #cart_list .right:hover { background-color: #916F53;color: #2D2522;border-color: #916F53;}
  #cart_list hr { width: 386px; border: none; border-top: 1px solid #38393a; }
  #to_cart { display: block; border: 1px solid #916f53; padding: 5px 30px; color: #916f53; margin: 20px 150px; text-decoration: none; }
  #to_cart:hover { background-color: #916F53;color: #2D2522;border-color: #916F53;}
  #member_list{display:none;position: fixed;right:0px;top:65px;background: #29292b;z-index:9999;cursor: pointer;width:99px;    border-radius: 3px;overflow: hidden;}
  #member_list ul li{color:#916f53;height: 32px;line-height: 32px;text-align: left;font-size: 13px;}
  #member_list ul li a{color:#916f53;text-decoration: none;padding: 0px 20px;}
  #member_list ul li:hover{color:#ccac82; background: #373738;}

  /*order-list page*/
  .order-list{margin-top:64px;}
  .order-list .head{font-size: 30px;color:#ccac82;position: relative;width: 1220px; margin:0px auto; padding-bottom:20px;}
  .order-list .head .ui-select{position: absolute;right:0px;}

  /*addres page*/
  .address{margin-top:64px;}
  .address .head{font-size: 30px;color:#ccac82;position: relative;width: 1220px; padding-bottom:20px;margin:0px auto;}
  .address .head .ui-btn{position: absolute;right:0px;}
  .address .item-box{width:1220px; margin:0px auto; color:#916f53;margin:50px auto 0px;}
  .address .item {font-size: 0;margin: 0px 0 58px;border-bottom: 1px solid #2D2522;padding-bottom: 50px;}
  .address .item *{display: inline-block;font-size:16px;}
  .address .item .color{color:#ccac82;}
  .address .item .name{width:93px;}
  .address .item .addres{width:550px;}
  .address .item .tel{width:184px;}
  .address .item .define{width:204px;text-align: center;}
  .address .item .state{width:189px}
  .address .item .ui-btn{width:136px;}
  .address i{margin:0px 10px;vertical-align: middle;padding-left: 20px;font-style: normal;cursor: pointer;}
  .address i a{color: #916F53;text-decoration: none;}
  .address i.del{background: url(../images/pages/member/addres/del.png) no-repeat 0px center;}
  .address i.edit{background: url(../images/pages/member/addres/edit.png) no-repeat 0px center;}

  /*order page*/
  .order{margin-top:64px;}
  .order .head{font-size: 16px;color:#916f53;position: relative;width: 1220px; padding-bottom:20px;margin:0px auto;}
  .order .head span.num{color:#ccac82;}
  .order .head span.white{color:#8f9199;}
  .order .head .state{position: absolute;right:0px;}
  .order .order-info{width:1220px;margin:0px auto; padding-bottom:50px;border-bottom:1px solid #2D2522;}
  .order .order-info .title{font-size:24px;color:#ccac82;margin-top:40px;}
  .order .order-info .desc{font-size:16px;color:#916f53;margin-top:10px;}
  .order .order-info .btns{margin-top:50px;}
  .order .order-info .btns .ui-btn{width:136px;height:30px;line-height: 30px;}
  .order .order-info .btns .ui-btn.apply{margin-right:20px;}
  .order .money{width:1220px;margin:0px auto;color:#ccac82;}
  .order .money span{display: inline-block;margin-left:20px;}
  .order .money-box{min-width:227px;float:right; text-align: right;}
  .order .money *{margin-top:10px;}
  .order .money .express{padding-bottom:10px;border-bottom:1px solid #2D2522;font-size:14px;color:#916f53;}
  .order .money .count{font-size:16px;}
  .order .money .true-number{font-size:20px;}
  .order>.addres{width:1220px;margin:0px auto;}
  .order .addres .title{font-size:24px;color:#a7896f;border-bottom:1px solid #2D2522;padding-bottom:10px;}
  .order .addres .name,.order .addres>.addres,.order .addres .tel{color:#916f53;font-size:18px;margin:25px 0px;}
  .order .addres .name{margin-top:20px;}

  /*all page*/
  .all{margin-top:64px;}
  .all .head{font-size: 30px;color:#ccac82;position: relative;width: 1220px; padding-bottom:20px;margin:0px auto;}
  .all .user-info{background: #161617;width:739px;height:231px;margin:0px auto 62px;}

  .all .money{width:1220px;margin:0px auto;color:#ccac82;}
  .all .money span{display: inline-block;margin-left:20px;}
  .all .money-box{min-width:227px;float:right; text-align: right;}
  .all .money *{margin-top:10px;}
  .all .money .express{padding-bottom:10px;border-bottom:1px solid #2D2522;font-size:14px;color:#916f53;}
  .all .money .count{font-size:16px;}
  .all .money .true-number{font-size:20px;}
  .all>.addres{width:1220px;margin:100px auto;}
  .all .addres .title{font-size:24px;color:#a7896f;border-bottom:1px solid #2D2522;padding-bottom:10px;}
  .all .addres .name,.all .addres>.addres,.all .addres .tel{color:#916f53;font-size:18px;margin:25px 0px;}
  .all .addres .name{margin-top:20px;}
  .all .user-info >div{display: inline-block;vertical-align: middle;}
  .all .user-info .sex{width: 188px;height: 189px;margin:20px 0px 0px 160px;}
  .all .user-info .sex.male{background: url(../images/pages/member/all/male.png) no-repeat;}
  .all .user-info .sex.female{background: url(../images/pages/member/all/female.png) no-repeat;}
  .all .user-info .desc{color:#c4a57d; font-size:14px;margin-left: 40px;}
  .all .user-info .desc p{margin-top:10px;}
  .all .user-info .desc .ui-btn{margin-top: 20px;}
  .all .block-box{width: 300px;margin:60px auto;position: relative;}
  .all .block-box .hr{border-bottom:1px solid #2d2522;position: absolute;width: 200px;top: 8px;left: 45px;z-index: 10}
  .all .block-box ul{position: relative;z-index: 20;}
  .all .block-box ul li {float: left;color: #916F53;text-decoration: none;padding: 20px 23px 0;background: url(../images/pages/member/all/point.png) no-repeat center 0;}
  .all .block-box ul li:hover{background: url(../images/pages/member/all/point-hover.png) no-repeat center 0;}
  .all .block-box ul li a{color:#CCAC82;text-decoration: none;}


  /*account page*/
  .account{margin-top: 64px;}
  .account .head{font-size: 30px;color:#ccac82;position: relative;width: 1220px; padding-bottom:20px;margin:0px auto;}
  .account .item-box{width: 1220px; margin:0px auto;}
  .account .item {padding: 65px 0px;border-bottom:1px solid #2D2522; position: relative;}
  .account .item .title{font-size:24px;color:#ccac82;}
  .account .item .info{color:#916f53;font-size:16px;margin-top:20px;}
  .account .item a{position: absolute;right:20px;top:80px;}



  /*common*/
  table{width: 1220px; margin:0px auto;color:#916f53;font-size:16px;}
  table tbody { padding-top: 20px;border-bottom:1px solid #2d2522;}
  table tr td {padding-top: 40px;}
  table tr td span{color:#ccac82;}
  table tr td span.title{color:#ccac82;font-size:20px;color:#916f53;}
  table tr td span.num{color:#c8c9c7;font-size:14px;line-height: 72px;}
  table tr td.last{text-align: right;width:16%;}
  table tr td.last-text{text-align: center;}
  table tr td .ui-btn{font-size:14px;width:150px;}
  table tr td.center{text-align: center;width:16%;}
  table tr td.big{font-weight: 900;}
  table tr td.right{text-align: left;}
  table tr td.big.right{color:#ccac82;}
  table tr td img,.order table tr td{vertical-align: middle;}




  .bg{position: fixed;top:0px;left:0px;width:100%;height: 100%;background: #000;opacity: 0.8;z-index: 9;display: none;}
  .new-address{position: fixed;top:50%;left:50%;margin-left:-453px;margin-top: -268px;width:906px;height: 537px;border:3px solid #c4a57d;z-index: 10000;background: #000; display: none;}
  .new-address .form-inline .form-group {margin-bottom: 0;vertical-align: middle;margin-bottom: 20px;}
  .new-address .form-inline{width: 505px;height:329px;margin:100px 0px 0px 198px;}
  .new-address .form-inline input{display: inline-block;margin-bottom: 0px;}
  .new-address .form-inline .one{width:176px;}
  .new-address .form-inline .two{width:305px;margin-left:20px;}
  .new-address .form-inline .ui-select{margin-right: 16px;width:155px;}
  .new-address .form-inline .ui-select.county{margin-right: 0px;width:155px;}
  .new-address .form-inline .form-group label{color:#916f53;font-size:16px;}
  .new-address .btns{width:310px;margin:20px auto 0px;}
  .new-address .btns .ui-btn{width:136px;}
  .new-address .btns .ui-btn.save{margin-left: 20px;}

/*dialog-box*/
.dialog-box {position: fixed;top:50%;left:50%;margin-left:-453px;margin-top: -268px;width:906px;height: 537px;border:3px solid #c4a57d;z-index: 10000;background: #000; display: none }
.dialog-box .dialog-body{padding: 120px 200px}
.dialog-box .title{font-size:24px;color:#a7896f;padding-bottom: 20px;text-align: center;}
.dialog-box .btns{text-align: center;}
.dialog-box .btns a.ui-btn{width: 136px;margin: 0 15px}
.dialog-box.change-password.cp-step2 .title{padding-top: 80px;padding-bottom: 40px; }
.dialog-box .form-group label{color:#916f53;font-size: 16px;}
/*手机验证*/
.phone-validation.pv-step1 .title{padding-bottom: 50px;}
.phone-validation.pv-step1 label{margin-left: 120px; }
.phone-validation.pv-step1 .btns{margin-top: 100px;}
.dialog-box .form-group{overflow: hidden;}
.phone-validation .one{width: 136px;float: right;}
.phone-validation .two{width: 260px;float: left;}
.phone-validation #countdown{float: left;color: #8f6f56;font-size: 16px;line-height: 36px;padding: 0 33px}
.phone-validation.pv-step2 .title,.phone-validation.pv-step4 .title{padding-bottom: 40px;}
.phone-validation.pv-step2 .btns,.phone-validation.pv-step4 .btns{margin-top: 60px;}

/*邮箱验证*/
.email-validation .title{padding-bottom: 0px;}
.email-validation .border-b{border-bottom: 1px dashed #2d2522}
.email-validation p{font-size: 16px;color:#916f53;text-align: center;padding: 40px 0}
.email-validation.ev-step3 .title,.phone-validation.pv-step3 .title{padding-bottom: 50px;}
.email-validation.ev-step3 .btns,.phone-validation.pv-step3 .btns{margin-top: 60px;}
.email-validation.ev-step5 .title,.phone-validation.pv-step5 .title{padding: 80px;}

.dialog-box .input-befor{position: relative;}
.dialog-box .input-befor .ui-input{padding-left: 56px;}
.dialog-box .input-befor span{position: absolute; top:0;left: 0; left: 20px; color: #5b441c;font-size: 16px; line-height: 36px;}




  hr{width:1200px;border:none;border-bottom: 1px solid #2D2522;}
  hr.weight{width:1440px;}
  input.ui-btn{background: #000;}
  input.ui-btn:hover{background: #916f53;color: #2d2522;}
}

