.tea-other{
  /*media-center page*/
  .media-enter .head{width:1220px;margin:0px auto;font-size:30px;color:#ccac82;margin-top:20px;}
  .media-enter .news-list .left{float:left;height:284px;}
  .media-enter .news-list .right{float:left;margin-left:100px;position: relative;height:284px;}
  .media-enter .news-list{width:1220px;margin:60px auto 0px;padding-bottom:60px;border-bottom: 1px solid #2D2522;}
  .media-enter .news-list .date{font-size:13px;color:#8f9199;margin-top:38px;}
  .media-enter .news-list .title{font-size:18px;color:#c4a57d;margin-top:20px;}
  .media-enter .news-list .info{font-size:14px;color:#8f9199;margin-top:25px;}
  .media-enter .news-list a.ui-btn{position: absolute;bottom:0px;left:0px;}


  /*search page*/
  .search-page{width:1280px;background: url(../../pc/images/pages/other/search-bg.jpg) no-repeat;min-height:559px;margin:80px auto 0px;}
  .search-page .head{color:#c4a57d;font-size:30px;text-align: center;padding:80px 0px 20px;border-bottom: 1px solid #2D2522;}
  .search-page .search-count{margin:10px 0px 80px;}
  .search-page .search-count .bar{color:#916f53;display: inline-block;margin-left:30px;}
  .search-page .search-count .bar *{margin-left:23px;display:inline-block;}
  .search-page .search-count .more{background: #916f53;height:26px;width:1090px;text-align: center;line-height: 26px;display: inline-block;}
  .search-page .item{margin-bottom: 35px;}
  .search-page .item .title{color:#916f53;padding-bottom: 5px;display: inline-block;border-bottom: 1px solid #916F53;}
  .search-page .item .url{margin-left:5px;color:#ccac82;padding-bottom: 5px;display: inline-block;border-bottom: 1px solid #ccac82;}
  .search-page .item div{margin-top:5px;color:#916f53;}
  .search-box {padding-left: 12px;width: 60px;height: 30px;background-color: #e1d1b9;display: block;vertical-align: middle;margin: 25px auto 0px;border-radius: 30px;padding-right: 40px;position: relative;width:175px;}
  .search-box input {line-height: 30px;color: #916f53;height: 30px;border: none;background-color: transparent;display: block;width: 130px;font-size: 14px;}
  .search-box input::-webkit-input-placeholder {color: #916f53;}
  .search-box input::-moz-input-placeholder {color: #916f53;}
  .search-box input::-ms-input-placeholder {color: #916f53;}
  .search-box input::-o-input-placeholder {color: #916f53;}
  .search-box .search-btn {width: 40px;height: 100%;margin: 0;background: url(../images/lib/header-footer/search.png) no-repeat center center;content: '';position: absolute;top: 0;right: 0;}

  hr{width:1200px;border:none;border-bottom: 1px solid #2D2522;}
  hr.weight{width:1440px;}
}
