
/* Login */
.tea-login{}
.tea-login h2{ font-size: 42px; color: #ccac82; border-bottom: 1px solid #2d2522; font-weight: normal; padding-top: 95px; padding-bottom: 40px; text-align: center; margin-top:80px;}
.tea-login .login-form{ margin: 0 auto; height: 255px; padding: 40px 0; width: 390px; }
.tea-login .login-form .ui-btn{ margin: 20px 0; }
.tea-login .login-tip{ border-top: 1px solid #2d2522;  padding: 25px 0; margin-bottom: 180px; text-align: center; color: #8f9199; font-size: 13px; text-decoration: none; }
.tea-login .login-tip span{ margin-left: 30px; }
.tea-login .login-tip a{ color: #d6ae81; }

/* forgetpass */
.tea-forgetpass h2{ font-size: 42px; color: #ccac82; border-bottom: 1px solid #2d2522; font-weight: normal; padding-top: 95px; padding-bottom: 40px; text-align: center;margin-top: 80px;}
.tea-forgetpass .forgetpass-form{ margin: 0 auto; height: 255px; padding: 40px 0; width: 500px; }
.tea-forgetpass .forgetpass-form .form-tip{ text-align: center; color: #916f53; font-size: 16px; }
.tea-forgetpass .forgetpass-form input{ width: 390px; margin: 30px auto; margin-bottom: 0; }
.tea-forgetpass .forgetpass-form .ui-btn{ margin-top: 35px; margin-left: 5px; margin-right: 5px; }
.tea-forgetpass .forgetpass-tip{ border-top: 1px solid #2d2522;  padding: 25px 0; margin-bottom: 180px; text-align: center; color: #8f9199; font-size: 13px; text-decoration: none; }
.tea-forgetpass .forgetpass-tip span{ margin-left: 30px; }
.tea-forgetpass .forgetpass-tip a{ color: #d6ae81; }

/* Register */
.tea-register h2{ font-size: 42px; color: #ccac82; border-bottom: 1px solid #2d2522; font-weight: normal; padding-top: 95px; padding-bottom: 40px; text-align: center; margin-top: 80px;}
.tea-register .register-form{ margin: 0 auto; padding: 40px 0; width: 505px; }
.tea-register .register-form .ui-btn{ margin: 20px 0; }
.tea-register .register-form .col2 input{ width: 242px; display: inline-block; display: inline;zoom:1;}
.tea-register .register-form .col2.top{margin-top:10px;padding-top: 30px;border-top:1px solid #2d2522;}
.tea-register .register-form .col2 input.two{ margin-right: 20px; }
.tea-register .register-form .sel-box{ float: left; margin-right: 18px; width: 156px; }
.tea-register .register-form .sel-box select{ width: 156px; }
.tea-register .register-form label{ color: #8f9199; }
.tea-register .register-form .ui-checkbox{ margin-right: 15px; }
.tea-register .register-tip{ border-top: 1px solid #2d2522;  padding: 25px 0; margin-bottom: 180px; text-align: center; color: #8f9199; font-size: 13px; text-decoration: none; }
.tea-register .register-tip span{ margin-left: 30px; }
.tea-register .register-tip a{ color: #d6ae81; }
